.main-container {
  margin: 0px;

}
.color-dashboard {
  background-color: blueviolet;
}
.min-height-600 {
  min-height: 1000px;
}

.no-flex-wrap {
  flex-wrap: inherit !important;
}
.background-grey {
  background-color:#081b26; /* Changez la couleur selon vos besoins */

  border-radius: 8px; /* Coins arrondis pour un look moderne */
}
