.card {
  height: 100%;
}

.card-img-top {
  height: 450px;

}
.ml-2{
  margin-left: 20px;
}
.card-hover {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.max-heigth{
  max-height: 800px;
  min-height: 800px;
}
.prix-style{
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  color: black;
  margin-left: 30px;
}
.text{
  font-size: 20px;
}
.searchcss {
  margin-top: 6px;
  margin-left: 300px;
  display: flex;
  justify-content: flex-end;
}

  .max-height .searchcss .input-group {
  width: 600px;
  margin-left: 300px; /* Ajustez cette valeur selon vos besoins pour réduire la largeur */
}

.searchcss .input-group .form-control {
  width: 100%;
  padding: 20px auto; /* Assurez-vous que l'input prend toute la largeur du groupe d'entrée */
}
.searchcss .input-group-prepend .input-group-text .input-group-text .fas fa-search{
  padding: 22px auto;
  border: solid 3px
}

.search-icon {
  font-size: 23px;
  border-style: solid 2px;
  margin-left: 6px;
  margin-top: 6px; /* Ajustez cette valeur selon vos besoins pour augmenter la taille de l'icône */
}
