<form (ngSubmit)="register()">
  <h3>Créer votre compte pour continuer</h3>
  <p> Vos données personnelles sont sucurisées et ne seront pas partagées. ces information nous aide a vous offrir le meillieur service possible. </p>
  <input type="text" id="name" [(ngModel)]="user.name" name="name" required placeholder="Nom:">
  <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName" required placeholder="Prénom:">
  <input type="email" id="email" [(ngModel)]="user.email" name="email" required placeholder="E-mail:">
  <input type="password" id="password" [(ngModel)]="user.password" name="password" required placeholder="Mot de passe:">
  <input type="text" id="contactDetails" [(ngModel)]="user.contactDetails" name="contactDetails" placeholder="Tel:">

  <label>Adresse :</label>
  <div class="address-row">
    <input type="text" id="country" [(ngModel)]="user.adresseDto.pays" name="adresseDto.pays" required placeholder="Pays:">
    <input type="text" id="city" [(ngModel)]="user.adresseDto.ville" name="adresseDto.ville" required placeholder="Ville:" style="margin-left: 5px;">
  </div>
  <div class="address-row">
    <input type="text" id="adresse1" [(ngModel)]="user.adresseDto.adresse1" name="adresseDto.adresse1" required placeholder="Adresse1:">
    <input type="text" id="adresse2" [(ngModel)]="user.adresseDto.adresse2" name="adresseDto.adresse2" required placeholder="Adresse2:" style="margin-left: 5px;">
  </div>

  <label>Quel utilisateur êtes-vous ? :</label>
  <div class="radio-group">
    <input type="radio" id="individualclient" [(ngModel)]="user.typeUtilisateur" name="typeUtilisateur" value="individualclient" required>
    <label for="individualclient">Client simple</label>
    <input type="radio" id="companies" [(ngModel)]="user.typeUtilisateur" name="typeUtilisateur" value="companies">
    <label for="companies">Client entreprise</label>
  </div>

  <!-- Champs spécifiques pour les entreprises -->
  <div *ngIf="user.typeUtilisateur === 'companies'">
    <input type="text" id="openingHours" [(ngModel)]="user.openingHours" name="openingHours" placeholder="Heures d'ouverture:">
  </div>

  <button type="submit">S'inscrire</button>
</form>
