.my-custom-card {
  margin-bottom: 20px; /* Adjust this value as needed */
}
.max-heihg{
  max-height: 800px;
  min-height: 600px;
}

.card-hover {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.search-containner {
  margin-top: 10px;
  margin-left: 1300px;
 justify-content: flex-end;
}
.input-group{
width: 500px;
}
.mr-3 {
  margin-right: 1rem;
  color: wheat;
  font-size: 20px;
}
