<!-- list-gas-retailer.component.html -->
<!--

<div class="container-fluid px-2 max-heihg">
  <div class="row">
    <h2>Liste des détaillants de gaz</h2>
  </div>

  <div class="row">
    <div *ngFor="let retailer of gasRetailers" class="col-md-3 col-sm-4 mb-3">
      <div class="card h-100">
        <div class="card-image">
          <img [src]="getImageUrl(retailer.imageFileName!) || './assets/product.png'" alt="Image détaillant de gaz" class="card-img-top" style="height: 200px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ retailer.name }}</h5>
          <p class="card-text">{{ retailer.contactDetails }}</p>
          <a class="button" [routerLink]="[retailer.id]">Détails</a>
          <button (click)="deleteGasRetailer(retailer.id!)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div> -->





<div class="container-fluid px-2">



  <!-- Display filtered gas retailers -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3 ml-2" style="margin-top: 10px;">
    <div *ngFor="let retailer of filteredGasRetailers" >
      <div class="card h-100 card-hover" style="background-color: #e4f5ff; box-shadow: 0 2px 4px 0 #cfffe0;" >
        <div class="card-image">
          <img [src]="getImageUrl(retailer.imageFileName!) || './assets/product.png'" alt="Image détaillant de gaz" class="card-img-top" style="height: 200px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ retailer.name }}</h5>
          <p class="card-text">{{ retailer.contactDetails }}</p>
          <p class="card-text">{{ retailer.adresseDto?.adresse1 }}</p>
          <p class="card-text">{{ retailer.adresseDto?.ville }}</p>
          <a class="button" [routerLink]="[retailer.id]">Détails</a>
          <button (click)="deleteGasRetailer(retailer.id!)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
