<!-- <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="codeArticle">Code Article</label>
    <input id="codeArticle" formControlName="codeArticle" type="text" />
  </div>

  <div>
    <label for="designation">Designation</label>
    <input id="designation" formControlName="designation" type="text" />
  </div>

  <div>
    <label for="prixUnitaireHt">Prix Unitaire HT</label>
    <input id="prixUnitaireHt" formControlName="prixUnitaireHt" type="number" />
  </div>

  <div>
    <label for="tauxTva">Taux TVA</label>
    <input id="tauxTva" formControlName="tauxTva" type="number" />
  </div>

  <div>
    <label for="prixUnitaireTtc">Prix Unitaire TTC</label>
    <input id="prixUnitaireTtc" formControlName="prixUnitaireTtc" type="number" />
  </div>

  <div>
    <label for="supplierId">Supplier ID</label>
    <input id="supplierId" formControlName="supplierId" type="number" />
  </div>

  <div>
    <label for="gasRetailerId">Gas Retailer ID</label>
    <input id="gasRetailerId" formControlName="gasRetailerId" type="number" />
  </div>

  <div>
    <label for="imageFile">Image File</label>
    <input id="imageFile" type="file" (change)="onFileSelected($event)" />
  </div>

  <button type="submit" [disabled]="!articleForm.valid || !selectedFile">Submit</button>
</form>
 -->

 <div class="form-container">
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" >
    <div class="formulaire">
      <div class="form-group">
        <input id="codeArticle" placeholder="code article" formControlName="codeArticle" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <input id="nameArticle" placeholder="Nom de l'article" formControlName="nameArticle" type="text" class="form-control" />
      </div>


      <div class="form-group">
        <input id="designation" placeholder="Designation" formControlName="designation" type="text" class="form-control" />
      </div>

      <div class="form-group">
        <input id="prixUnitaireHt" placeholder="Prix Unitaire HT" formControlName="prixUnitaireHt" type="number" class="form-control" />
      </div>

      <div class="form-group">
        <input id="tauxTva"  placeholder="Taux TVA" formControlName="tauxTva" type="number" class="form-control" />
      </div>

      <div class="form-group">
        <input id="stockInit"  placeholder="Stock initial" formControlName="stockInit" type="number" class="form-control" />
      </div>

      <div class="form-group">
        <label for="supplierId">Choose supplier...</label>
        <select id="supplierId" formControlName="supplierId" class="form-control"  class="custom-select mr-sm-2">
          <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.id }}, {{ supplier.name }}</option>
        </select>
      </div>


      <div class="form-group">
        <input id="gasRetailerId" placeholder="Id gasRetailer" formControlName="gasRetailerId" type="number" class="form-control" />
      </div>

      <div class="form-group">
        <label for="imageFile">choose image</label>
        <div class="image-upload">
          <img [src]="imageUrl" alt="Default Image" class="default-image" (click)="triggerFileInput()" />
          <input id="imageFile" placeholder="choose image" type="file" (change)="onFileSelected($event)" class="file-input" />
        </div>
      </div>

      <button type="submit" [disabled]="!selectedFile" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
